body {
	font-family			: Helvetica, Arial, sans-serif;
	color				: #808080;
}
strong {
	color				: #f08080;
}
#header {
	text-align			: center;
}
#header img {
	width				: 530px;
	height				: 120px;
	border				: none;
}
#wrapper {
	width				: 800px;
	position			: relative;
	margin				: 0 auto;
}
#form {
	margin				: 15px 0;
	padding				: 120px;
	border				: 5px #6495ed dashed;
	text-align			: center;
}
#img {
	max-width			: 400px;
	max-height			: 400px;
}
#link {
	display				: none;
}